.app {
  display: flex;
  align-items: center;
  justify-content: center;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
  }

  .employees-list {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 24px;
    grid-column-gap: 48px;
  }
}
