.app {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  min-height: 800px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
  }

  .employees-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 24px;
    grid-column-gap: 48px;
    width: 1200px;
  }
}
