<div class="app">
  <div *ngIf="!(loading$ | async); else loadingBlock">
    <div class="header">
      <span>Employees</span>
      <mat-form-field>
        <mat-label>
          Departments
        </mat-label>
        <mat-select
          [(value)]="selectedDepartment"
          (selectionChange)="filterByDepartment($event)"
        >
          <mat-option
            value="All Departments"
          >
            All Departments
          </mat-option>
          <mat-option
            *ngFor="let department of departments$ | async"
            [value]="department"
          >
            {{ department }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <ng-container *ngIf="(employees$ | async) as employeesArray">
      <div class="employees-list">
        <div *ngFor="let employee of employeesArray | pagination: pageIndex : pageSize">
          <reese-dev-employee-card [employee]="employee">
          </reese-dev-employee-card>
        </div>
      </div>
      <mat-paginator
        *ngIf="employeesArray.length"
        [length]="employeesArray.length"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="pageSizeOptions"
        (page)="handlePageEvent($event)"
        aria-label="Select page"
      >
      </mat-paginator>
    </ng-container>
  </div>
  <ng-template #loadingBlock>
    <div class="loading">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
